---
// import TableOfContents from "@/components/TableOfContents.astro";
import Layout from "./Layout.astro";
import "../styles/MarkdownPosts.css"
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
    <!-- <h1>{frontmatter.title}</h1> -->
    <!-- <p>Escrito por {frontmatter.author}</p> -->
    <div class="main">
        <div class="post">
            <div class="post_title">
                <a href="/portfolio" class="return_home">
                    <i class="material-icons md-light">arrow_back</i>
                </a>
                <span><h1>{frontmatter.title}</h1></span>
            </div>
            <div class="post_body">
                <p>{frontmatter.date.toLocaleDateString("es-es", {
                    year: 'numeric',
                    month: '2-digit',
                    day: 'numeric'
                })}</p>
                <!-- <TableOfContents frontmatter={frontmatter} headings={headings}/> -->
                <slot />
            </div>
        </div>
    </div>
</Layout>